<!doctype html>
<html>
  <head>
    <title>Default Page</title>
  </head>
  <body>
    <div id="window">
      
    </div>
    <script type="text/javascript">
      window.appver = '{{version}}';
    </script>
    <script type="text/javascript" src="http://localhost:9998/static/script/app.js"></script>
  </body>
</html>